*{
    box-sizing: border-box;
}
:root{
    --theme-green:#217346;
    --theme-gray:lightgray;
    --theme-text:#5e5e5e;
}

html,body{
    margin:0px;
    padding:0px
}
.hero{
   
}


.menu-container{
    /* border: 1px solid blue;  */
    height: 50px;
    display: flex;
    justify-content: space-around;
    width: 187px;
    align-items: center;
    font-family: sans-serif;
    cursor: pointer;
}

.line{
    height: 25px;
    width: 2px;
    border: 2px solid gray;
}

.menu-options-container{
    height: 50px;
    display: flex;
    /* justify-content: space-evenly; */
    background: #0c6b24;
    cursor: pointer;

}

.file{

}
.home{

}

.file-menu-options{
    display: none;
    /* border: 1px solid; */
    width: 184px;
    justify-content: space-around;
    align-items: center;
}

.home-menu-options{
    align-items: center;
    display: none;
    /* border: 1px solid; */
    /* width: 500px; */
    justify-content: space-around;
}

.active{
display: flex;
}

.formula-tab{
    height: 45px;
    display: flex;
    align-items: center;
}

#address{
    font-weight: 700;
    font-family: monospace;
}
#formula{
    height: 30px;
}
.space{
    width: 50px;
}


.cells{
    z-index: 2;
    position: absolute;
    top: 22px;
    left: 30px;
}

.sheets{
    height: 30px;
    display: flex;
}
ul.sheets-nav {
    display: flex;
    list-style: none;
    position: relative;
    padding: 0px;
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
}
li.sheets-item {
    background: white;
    color: var(--theme-green);
    padding: 7px;
    border: 1px solid var(--theme-green);
    margin-left: 5px;
}

.active-sheet{
    background: var(--theme-green) !important;
    color: white !important;
}
button.add-sheets {
    font-size: 20px;
    border: 1px solid var(--theme-green);
    border-radius: 20px;
    color: var(--theme-green);
    height: 30px;
}
button.add-sheets:hover{
    color:white;
    background: var(--theme-green); 
}

.row{
    display: flex;
}
.cell{
    border: 1px solid #1989ca;
    min-width: 60px;
    text-align: center;
    min-height: 23px;
    max-width: 60px;
    /* background: white; */
    transition: .5s;
}
.cell:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgb(216, 48, 85);
}
.content{
    height: calc(100vh - 175px);
    overflow: auto;
    position: relative;
}

.top-left-cell{
    height: 23px;
    width: 31px;
    z-index: 4;
    position: absolute;
    border: 12px solid palegoldenrod;
}

.top-row{
    display: flex;
    position: absolute;
    left: 30px;
    z-index: 3;
    top: 0px;
    font-family: cursive;
    background: #c2c1c1;
    font-weight: 500;
}

.top-row-cell{
    border: 1px solid;
    min-width: 60px;
    text-align: center;
    min-height: 23px;
}

.left-col{
    position: absolute;
    top: 22px;
    background: white;
    z-index: 3;
    left: -1px;
    background: #c2c1c1;
    font-family: cursive;
}
.left-col-cell{
    height: 23px;
    width: 31px;
    border: 1px solid;
    text-align: center;
}

.font-styles{
    display: flex;
    width: 320px;

}
.font{
    width: 100px;
    margin: 13px;
}

#font{
    width:100%;
}

#font-size{
    width:100%;   
}

.font-bold{
    display: flex;
    margin: auto;
}



.font-bold div{
    border: 3px solid deepskyblue;
    width: 27px;
    text-align: center;
    height: 23px;
    margin: 6px;
    border-radius: 10px;
    background: #c2c1c1;
}
.font-size{
    display: flex;
    align-items: center;
    margin: 10px;
}
.font-sizea{

    width: 60px;
}
.font-color{
    margin: 25px;
}
.font-alignment{
    display: flex;
}
.font-alignment div{
    border: 2px solid white;
    width: 27px;
    text-align: center;
    height: 23px;
    margin: 11px;
    border-radius: 7px;
    padding: 2px;
    background: salmon;
}
#cell-color{
    height: 30px;
   
    /* border-radius: 27px; */
    width: 30px;
}
#cell-text-color{
    height: 30px;
   
    /* border-radius: 27px; */
    width: 30px;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(124, 216, 223); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #aac3d3; 
    box-shadow: 0 0 10px #42f0bb;
  }
